@font-face {
  font-family: 'TT Lakes';
  src: url('../../../../public/assets/font/TTLakes/TTLakes-Regular.woff');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
  url('../../../../public/assets/font/TTLakes/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../../../../public/assets/font/TTLakes/TTLakes-Medium.woff');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
  url('../../../../public/assets/font/TTLakes/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes';
  src: url('../../../../public/assets/font/TTLakes/TTLakes-Bold.woff');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
  url('../../../../public/assets/font/TTLakes/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}