<div class="menu">
  <div class="menu__logo-layout">
    <button class="menu__button">
      <div class="icon icon--burger"></div>
    </button>
    <div class="menu__logo">
      <div class="logo"></div>
    </div>
  </div>
  <div class="menu__buttons-layout">
    <div class="menu__buttons menu__buttons--visible-on--tablet">
      <button class="menu__button">
        <div class="icon icon--phone"></div>
      </button>
      <button class="menu__button">
        <div class="icon icon--message"></div>
      </button>
      <button class="menu__button">
        <div class="icon icon--profile"></div>
      </button>
    </div>
    <div class="menu__buttons">
      <button class="menu__button">
        <div class="icon icon--repair"></div>
      </button>
      <button class="menu__button">
        <div class="icon icon--checkstatus"></div>
      </button>
  </div>
  </div>
</div>