:root {
  // colors
  --color-white: #fff;
  --color-gray: #7E7E82;
  --color-gray-2: #F8F8F8;
  --color-gray-3: #EAEAEA;
  --color-dark: #1B1C21;
  --color-tirquoise: #41F6D7;
  --color-tirquoise-2: #B8FFEC;
  --color-pink-rgba: #FF3E79;

  //theme
  ---text-color: var(--color-dark);
  --site-bg-color: var(--color-gray-2);
}